.row {    
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top:2%;
}

.rank {
    font-size: 40px;
    padding: 1%;
    background-color: #6e6e6e;
    color:white; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 0px 0px 5px ;
    border: 2px solid #6e6e6e;   
}

.title {
    min-height: 47px;
    width: 100%;
    padding: 1%;
    color: #6e6e6e;
    background-color: white;      
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0px 5px 5px 0px ;
    border: 2px solid white;    
}

